
<div>Welcome to SmartParticipation. This site is an ongoing project by Johannes Eifert.
  It is based upon the work done by Luis Téran.
</div>

<div class="panel"><h4>Smartparticipation supports open discussions and political community building
  through dynamic profiling.</h4></div>


SmartParticipation is based upon the following technologies:
<ul>
  <li>Ruby on Rails</li>
  <li>Zurb Foundation</li>
  <li>Neo4j</li>
</ul>

Start here:
<%= link_to "Article List", articles_path, :class => "button" %>
