// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";
.red-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: #ff6450,
    // Sets the panel padding amount. Default: $panel-padding
  $padding: $panel-padding,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
}
.yellow-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: #faff57,
    // Sets the panel padding amount. Default: $panel-padding
  $padding: $panel-padding,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
}
.green-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: #6aff58,
    // Sets the panel padding amount. Default: $panel-padding
  $padding: $panel-padding,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
}
.blue-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: #8187ff,
    // Sets the panel padding amount. Default: $panel-padding
  $padding: $panel-padding,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
}

.hidden{
  display: none;
}

.strong{
  font-weight: bold !important;
}

.nested{
  padding-left: 20px;
  padding-top: 20px;
  margin-top: -20px; // so that the comment borders go further to the top
  border-left: 1px solid #dbdbdb;
}